IO_LOC "sys_clk" E2;        // 50Mhz
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "s1" H11;
IO_PORT "s1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "reset2" H10;        // S2
IO_PORT "reset2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;

// HDMI (USB-A side PMOD)
//IO_LOC "tmds_clk_p" H5,J5;
//IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
//IO_LOC "tmds_d_p[0]" H8,H7;
//IO_PORT "tmds_d_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
//IO_LOC "tmds_d_p[1]" G7,G8;
//IO_PORT "tmds_d_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
//IO_LOC "tmds_d_p[2]" F5,G5;
//IO_PORT "tmds_d_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_clk_p" H5;
IO_PORT "tmds_clk_p" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_clk_n" J5;
IO_PORT "tmds_clk_n" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[0]" H8;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[0]" H7;
IO_PORT "tmds_d_n[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[1]" G7;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[1]" G8;
IO_PORT "tmds_d_n[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[2]" F5;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[2]" G5;
IO_PORT "tmds_d_n[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;

// SDCard (middle PMOD)
// A11/D2 E11/CMD K11/D0 L5/NC GND 3V3
// A10/D3 E10/CLK L11/D1 K5/NC GND 3V3
IO_LOC "sd_clk" D10;
IO_PORT "sd_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "sd_cmd" D11;        // MOSI
IO_PORT "sd_cmd" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_dat0" B11;       // MISO
IO_PORT "sd_dat0" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_dat1" B10;       // 1
IO_PORT "sd_dat1" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_dat2" G11;       // 1
IO_PORT "sd_dat2" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_dat3" G10;       // 1
IO_PORT "sd_dat3" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// UART through USB-C port
IO_LOC "UART_RXD" B3;       // the primer25k example is reversed
IO_LOC "UART_TXD" C3;
IO_PORT "UART_RXD" IO_TYPE=LVCMOS33;
IO_PORT "UART_TXD" IO_TYPE=LVCMOS33;

// One on-board USB port
 IO_LOC "usbdp" L6;      
 IO_PORT "usbdp" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
 IO_LOC "usbdm" K6;      
 IO_PORT "usbdm" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
// IO_LOC "usbdp2" 56;     
// IO_PORT "usbdp2" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
// IO_LOC "usbdm2" 54;     
// IO_PORT "usbdm2" PULL_MODE=DOWN IO_TYPE=LVCMOS33;

// Tang SDRAM v1.2 connected through 40-pin port
IO_LOC "IO_sdram_dq[0]" K2;
IO_PORT "IO_sdram_dq[0]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[1]" K1;
IO_PORT "IO_sdram_dq[1]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[2]" L1;
IO_PORT "IO_sdram_dq[2]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[3]" L2;
IO_PORT "IO_sdram_dq[3]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[4]" K4;
IO_PORT "IO_sdram_dq[4]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[5]" J4;
IO_PORT "IO_sdram_dq[5]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[6]" G1;
IO_PORT "IO_sdram_dq[6]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[7]" G2;
IO_PORT "IO_sdram_dq[7]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[8]" E1;
IO_PORT "IO_sdram_dq[8]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[9]" A1;
IO_PORT "IO_sdram_dq[9]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[10]" F2;
IO_PORT "IO_sdram_dq[10]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[11]" F1;
IO_PORT "IO_sdram_dq[11]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[12]" B2;
IO_PORT "IO_sdram_dq[12]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[13]" C2;
IO_PORT "IO_sdram_dq[13]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[14]" L4;
IO_PORT "IO_sdram_dq[14]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[15]" L3;
IO_PORT "IO_sdram_dq[15]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_addr[0]" F6;
IO_PORT "O_sdram_addr[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[1]" F7;
IO_PORT "O_sdram_addr[1]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[2]" J10;
IO_PORT "O_sdram_addr[2]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[3]" J11;
IO_PORT "O_sdram_addr[3]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[4]" K7;
IO_PORT "O_sdram_addr[4]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[5]" H2;
IO_PORT "O_sdram_addr[5]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[6]" H1;
IO_PORT "O_sdram_addr[6]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[7]" H4;
IO_PORT "O_sdram_addr[7]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[8]" G4;
IO_PORT "O_sdram_addr[8]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[9]" J2;
IO_PORT "O_sdram_addr[9]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[10]" J8;
IO_PORT "O_sdram_addr[10]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[11]" J1;
IO_PORT "O_sdram_addr[11]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[12]" D1;
IO_PORT "O_sdram_addr[12]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_ba[0]" L9;
IO_PORT "O_sdram_ba[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_ba[1]" K8;
IO_PORT "O_sdram_ba[1]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_dqm[0]" L8;
IO_PORT "O_sdram_dqm[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_dqm[1]" L7;
IO_PORT "O_sdram_dqm[1]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_clk" E3;
IO_PORT "O_sdram_clk" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_wen_n" J7;
IO_PORT "O_sdram_wen_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_ras_n" L10;
IO_PORT "O_sdram_ras_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_cas_n" K10;
IO_PORT "O_sdram_cas_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_cs_n" K9;
IO_PORT "O_sdram_cs_n" IO_TYPE=LVCMOS33;

// Joystick 1 on pmod
IO_LOC "joystick_clk" L5;
IO_PORT "joystick_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "joystick_miso" K11;
IO_PORT "joystick_miso" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "joystick_mosi" E11;
IO_PORT "joystick_mosi" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "joystick_cs"  A11;
IO_PORT "joystick_cs" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// Joystick 2 on pmod
IO_LOC "joystick_clk2" K5;
IO_PORT "joystick_clk2" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "joystick_miso2" L11;
IO_PORT "joystick_miso2" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "joystick_mosi2" E10;
IO_PORT "joystick_mosi2" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "joystick_cs2"  A10;
IO_PORT "joystick_cs2" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// 2 LEDs for debug
 IO_LOC "led[1]" E8;    // Ready
 IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
 IO_LOC "led[0]" D7;    // Done
 IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

