IO_LOC "sys_clk" H11;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "sys_resetn" T2;
IO_PORT "sys_resetn" PULL_MODE=NONE;

IO_LOC "d7" D7;
IO_PORT "d7" PULL_MODE=UP;

// HDMI: GPIO port connected
IO_LOC "tmds_clk_p" G11;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_clk_n" H12;
IO_PORT "tmds_clk_n" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[0]" H13;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_n[0]" J12;
IO_PORT "tmds_d_n[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[1]" K13;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_n[1]" K12;
IO_PORT "tmds_d_n[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[2]" K11;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_n[2]" L13;
IO_PORT "tmds_d_n[2]" PULL_MODE=NONE DRIVE=8;

// DDR pins
IO_LOC "DDR3_BA[2]" H5;
IO_PORT "DDR3_BA[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_BA[1]" D3;
IO_PORT "DDR3_BA[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_BA[0]" H4;
IO_PORT "DDR3_BA[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_A[13]" C8;
IO_PORT "DDR3_A[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_A[12]" A3;
IO_PORT "DDR3_A[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_A[11]" B7;
IO_PORT "DDR3_A[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_A[10]" K3;
IO_PORT "DDR3_A[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_A[9]" F9;
IO_PORT "DDR3_A[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_A[8]" A5;
IO_PORT "DDR3_A[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_A[7]" D8;
IO_PORT "DDR3_A[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_A[6]" B1;
IO_PORT "DDR3_A[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_A[5]" E6;
IO_PORT "DDR3_A[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_A[4]" C4;
IO_PORT "DDR3_A[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_A[3]" F8;
IO_PORT "DDR3_A[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_A[2]" D6;
IO_PORT "DDR3_A[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_A[1]" A4;
IO_PORT "DDR3_A[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_A[0]" F7;
IO_PORT "DDR3_A[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_ODT" R3;
IO_PORT "DDR3_ODT" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_CKE" J2;
IO_PORT "DDR3_CKE" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_nWE" L2;
IO_PORT "DDR3_nWE" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_nCAS" R6;
IO_PORT "DDR3_nCAS" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_nRAS" R4;
IO_PORT "DDR3_nRAS" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_nRESET" B9;
IO_PORT "DDR3_nRESET" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_CK" J1,J3;
IO_PORT "DDR3_CK" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[15]" M2;
IO_PORT "DDR3_DQ[15]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[14]" R1;
IO_PORT "DDR3_DQ[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[13]" H3;
IO_PORT "DDR3_DQ[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[12]" P4;
IO_PORT "DDR3_DQ[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[11]" L1;
IO_PORT "DDR3_DQ[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[10]" N2;
IO_PORT "DDR3_DQ[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[9]" K4;
IO_PORT "DDR3_DQ[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[8]" M3;
IO_PORT "DDR3_DQ[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[7]" B3;
IO_PORT "DDR3_DQ[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[6]" E1;
IO_PORT "DDR3_DQ[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[5]" C1;
IO_PORT "DDR3_DQ[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[4]" E2;
IO_PORT "DDR3_DQ[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[3]" F3;
IO_PORT "DDR3_DQ[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[2]" F4;
IO_PORT "DDR3_DQ[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[1]" F5;
IO_PORT "DDR3_DQ[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[0]" G5;
IO_PORT "DDR3_DQ[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR3_DQS[1]" J5,K6;
IO_PORT "DDR3_DQS[1]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQS[0]" G2,G3;
IO_PORT "DDR3_DQS[0]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DM[1]" K5;
IO_PORT "DDR3_DM[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DM[0]" G1;
IO_PORT "DDR3_DM[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

// UART through Tang 20K core board JTAG-UART connector
IO_LOC "UART_TXD" M11;
IO_PORT "UART_TXD" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "UART_RXD" T13;
IO_PORT "UART_RXD" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// LED for debug
// Set 1, down
IO_LOC "led[7]" L16;
IO_PORT "led[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[6]" N16;
IO_PORT "led[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[5]" P16;
IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[4]" R16;
IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[3]" L14;
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[2]" N14;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[1]" N15;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[0]" P15;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// Set 2, up
IO_LOC "led2[7]" T9;
IO_PORT "led2[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led2[6]" T8;
IO_PORT "led2[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led2[5]" T7;
IO_PORT "led2[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led2[4]" T6;
IO_PORT "led2[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led2[3]" P9;
IO_PORT "led2[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led2[2]" M6;
IO_PORT "led2[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led2[1]" R8;
IO_PORT "led2[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led2[0]" P6;
IO_PORT "led2[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// Fix location of PLL as it impacts write/read leveling timing
INS_LOC "pll_nes/rpll_inst" PLL_L[0];
